.comparision {
    height: 210vh;
    background-color: white;
    left: 0px;
    position: relative;
    z-index: -1;
}

.header {
    overflow: visible;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    margin-top: 20vh;
    position: absolute;
    top: 0;
}

h1 {
    font-size: 2.0rem;
    font-weight: bolder;
    text-shadow: 1px 1px #000000;
}

.content {
    overflow: visible;
    font-size: 1.0rem;
    width: 100%;
    margin-top: 40vh;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    height: 200vh;
}

table {
    width: 80%;
}

#women {
    background-color: pink;
}

#men {
    background-color: rgb(116, 181, 255);
}

#footer-women {
    background-color: rgb(235, 80, 106);
}

#footer-men {
    background-color: rgb(48, 140, 245);
}

h2 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}