<div class="motivation">
  <div class="header">
    <h1 class="question">Are there women in Marvel?</h1>
  </div>
  <div class="text">
    <p> For eighty years, Marvel Comics has been chronicling the adventures of heroes across the world. </p>
    <p>The comic book market has always been aimed at the male audience, especially when created at a time when feminism had not conquered space. </p>
    <p>The discrepancy in female representation is evidenced in the number of apparitions recovered by the API provided by Marvel itself. </p>
    <p>Below, there are comparisons between the amount of comics, events, series and stories where female characters appear in counterpoint to male characters. </p>
  </div>
  <div class="women-comic-cover">
     <img src="{{img}}" alt="{{title}}">
  </div>
</div>