<div class="nav-bar">
<button mat-button (click)="scrollToHome()"><mat-icon aria-hidden="false" aria-label="Home">home</mat-icon> HOME</button>
<button mat-button (click)="scrollToMotivation()"><mat-icon aria-hidden="false" aria-label="Motivation">flag</mat-icon> MOTIVATION</button>
<button mat-button (click)="scrollToComparision()"><mat-icon aria-hidden="false" aria-label="Comparision">compare_arrows</mat-icon> COMPARISION</button>
<button mat-button (click)="scrollToList()"><mat-icon aria-hidden="false" aria-label="List">list</mat-icon> LIST</button>
</div>