img {
    width: 500px;
    /* margin: 1vw 50vh; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #f3f3f3
}

button {
    color: #9b9b9b;
    background-color: rgb(54, 54, 54);
}

h2 {
    color: #9b9b9b;
}

mat-card {
    background-color: rgb(54, 54, 54);
}

#content {
    overflow: visible;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    margin-top: 30vh;
}

#container {
    width: 100%;
    height: 100%;
}

#marvel-logo img {
    z-index: -1;
    text-align: center;
    display: flex;
    align-items: center;
    margin: auto;
    left: 29vw;
    width: 40vw;
}

#storm img {
    position: absolute;
    z-index: -2;
    top: 0px;
    left: 0px;
    /* margin: 1vw 50vh; */
    width: 35vw;
}

#spider-woman img {
    position: absolute;
    z-index: -3;
    bottom: 0px;
    right: 0px;
    width: 35vw;
}

h1.women {
    font-size: 3.0rem;
    font-weight: bolder;
    text-shadow: 2px 2px #000000;
}

.attribution {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}