<app-nav-bar></app-nav-bar>
<a id="top">
  <div id="container">
    <div id="content">
      <div style="width: 80%; margin-left: auto; margin-right: auto">
        <h1 class="women">WOMEN IN</h1>
        <div id="marvel-logo">
          <img src="./../assets/logoMarvel.png">
        </div>
      </div>
    </div>
    <div id="storm">
          <img src="./../assets/storm.png">

  </div>
  <div id="spider-woman">
          <img src="./../assets/spiderWoman.png">

  </div>
</div>


<section id="motivation">
  <app-motivation></app-motivation>
</section>
<section id="comparision">
  <app-comparision></app-comparision>
</section>
<section id="list">
  <app-characters-list></app-characters-list>
</section>
